*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    border-style: solid;
    border-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.child{
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: lightblue;
    color: white;
    padding-top: 90px;
}